@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Poppins", ui-sans-serif, system-ui;
    }
 
    /* Target the scrollbar */
::-webkit-scrollbar {
    width: 6px; /* width for vertical scrollbar */
    height: 6px; /* height for horizontal scrollbar */
}

/* Track (background of scrollbar) */
::-webkit-scrollbar-track {
    background: #f0f0f0; /* track color */
    border-radius: 10px;
}

/* Thumb (draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background-color: #07689F; /* color of the thumb */
    border-radius: 10px;
    border: 3px solid #07689F20; /* padding around thumb for aesthetic */
}

/* Handle hover state */
.scroll_bar::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* darker color on hover */
}

}
